nav{
    background-image: url("/HomePage/images/blueScreen.jpg"); 
    color: white;
    height: 100px;
    padding-left: 427px;
    padding-top: 0px;
    font-family: sans-serif;

}
body{
    background-image: url("/HomePage/images/shutterstock_711208951-e1576712204793-01.jpeg");
    background-size: cover;
}
#logo{
    margin-left: -423px;
    margin-top: 1px;
    width: 100px;
    height: 94px;
}