form{
    border: .5px ;
    width: 558px;
    height: 450px;
    margin-top: 50px;
    margin-left: 395px;
    /* background-color: rgb(10, 92, 124); */
    background-image: url(/images/images.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 15px;
}
body{
    background-image: url(/images/pexels-photo-1629236.jpeg);
}
h1,div{
    color: white;
    margin-left: 100px;
    
}
input[type="submit"]{
    width: 348px;
    height: 30px;
    background-color: rgb(62, 79, 177);
    color: white;
    font-size: 20px;
    outline: none;
    border:  rgb(143, 199, 224);
}
input[type="text"], [type="email"] , [type="password"]{
    width: 344px;
    height: 27px;
    background-color: rgb(45, 53, 68);
    color: white;
    padding-left: 15px;

}
input[type="submit"]:hover{
    background-color: rgb(76, 76, 150);
    cursor: pointer;
}