nav{
    background-image: url("/SignUp/images/blueScreen.jpg"); 
    color: white;
    height: 100px;
    padding-left: 427px;
    padding-top: 0px;

}
#logo{
    margin-left: -423px;
    margin-top: 1px;
    width: 100px;
    height: 94px;
}

.images {
    display: inline-block;
    max-width: 98%;
    height: auto;
    width: 22%;
    margin: 1%;
    left: 20px;
    text-align: center
}
form{
    width: 500px;
    height: 500px;
    margin-left: 420px;
    margin-top: 27px;
    padding-top: 15px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgb(218, 229, 238);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body{
    background-color:   rgb(218, 229, 238);
 }