form{
    border: 1px solid black;
    width: 464px;
    height: 596px;
    margin-top: 33px;
    margin-left: 420px;
    background-color: cadetblue;
    padding-top: 30px;
}
input[type="text"], [type="email"] , [type="date"]{
    width: 315px;
    height: 27px;
    background-color: rgb(204, 204, 211);
}
div{
    margin-left: 44px;
}
input[type="submit"]{
    margin-left: 19px;
    width: 120px;
    height: 25px;
    background-color: rgb(79, 126, 214);

}
